.deck-card{
    width: 350px;
    height: 80%;
    padding: 3%;
}

.slds-col{
    background-color: snow;
    text-align: center;
    color: red;
    max-width: 100%;
}

.purchase-now{
    background-color: red;
    color: snow;
    border-color: antiquewhite;
}

.sold-out{
    background-color: black;
    color: snow;
    border-color: red;
}