header {
    display: flex;
    justify-content: space-between;
    background-color: #dbe7d8;
    border-radius: 15px 15px 0px 0px;
}

nav {
    display: inline;
    align-self: center;
}

h1 {
    font-weight: 500;
    margin-left: 20px;
}
